.condng{ width:190px; background:#fff; padding:5px; line-height:20px; color:#000000; font-size:12px; }
.wet-pbet{ width:200px;position:fixed; bottom:10px;right:5px; background:#00543d; padding:3px;z-index: 9999;}
.wet-pbet .titlewei4{ width:200px; height:25px; background:#003224}
.STYLE1 {font-family: Arial, Helvetica, sans-serif; cursor:pointer}