@charset "utf-8";
/* CSS Document */
html, body, span, iframe, input, map, font, img, a img, samp, strong, hr,
	h1, h2, h3, h4, h5, h6, b, p, blockquote, a, address, code, dl, dt, dd,
	ol, li, form, label, table, tr, td, th {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	min-width: 970px;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica", "Arial",
		"Microsoft YaHei", "FreeSans", "Arimo", "Droid Sans",
		"Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
}

* {
	-webkit-box-sizing: border-box;;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}
body {
	min-width: 970px;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica", "Arial",
		"Microsoft YaHei", "FreeSans", "Arimo", "Droid Sans",
		"Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-color: #fff
}
input {
	font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block
}
.main{
	/* background: #171717 50% 250px no-repeat; */
	margin-top: 0px;
}
/*font-style,font-weight*/
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

.font-serif {
	font-family: Georgia, "Times New Roman", Times, serif
}
/* .btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
} */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}
ol, ul, dl, li, dd {
	list-style: none;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 10px
}

dt, dd {
	line-height: 1.5
}
dl {
	margin-top: 0;
	margin-bottom: 20px
}

dt {
	font-weight: bold
}
dd {
	margin-left: 0
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

input {
	line-height: normal
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
a:active, a:hover, a:focus, input, button {
	outline: 0 !important
}

a {
	color: #1b1b1b;
	text-decoration: none;
	outline: none; /* for Firefox Google Chrome  */
	/* behavior: expression(this.onFocus = this.blur ()); for IE */
}

.form-inline .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle
}
.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle
}
.form-group-sm .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}
input[type=text], input[type=button], input[type=submit] {
	-webkit-appearance: none; /*去除iPhone input默认样式}*/
}
input {
	line-height: normal
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

.list-table {
	width: 100%;
	display: table;
	table-layout: fixed;
	list-style: none;
	margin-bottom: 0;
	padding: 0
}
.list-table>li {
	display: table-cell;
	width: 1em;
	height: 1em;
	text-align: center;
	vertical-align: middle
}

.form-group {
	margin-bottom: 15px
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out
		0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}
.navbar {
    position: relative;
    margin-bottom: 20px;
}
/* .container {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
} */


.navbar>.container, .navbar>.container-fluid {
    overflow: visible;
}
/* .container {
    width: 1160px;
} */

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.pull-right {
	float: right !important
}

.pull-left {
	float: left !important
}

a {
	background-color: transparent
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.row-gutter-0 {
	margin-left: 0;
	margin-right: 0
}
a:hover {
	color: #22527b;
	text-decoration: underline
}

a {
	color: #1b1b1b;
	text-decoration: none;
	outline: none; /* for Firefox Google Chrome  */
	/* behavior: expression(this.onFocus = this.blur ()); for IE */
}

b, strong {
	font-weight: bold
}


h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small,
	.h5 .small, h6 small, h6 .small, .h6 small, .h6 .small {
	font-size: 75%
}

h1, .h1 {
	font-size: 36px
}

h2, .h2 {
	font-size: 24px
}

h3, .h3 {
	font-size: 24px
}

h4, .h4 {
	font-size: 18px
}

h5, .h5 {
	font-size: 14px
}

h6, .h6 {
	font-size: 12px
}

p {
	margin: 0 0 10px
}

.list-unstyled {
	padding-left: 0;
	list-style: none
}

/* .row {
	margin-left: -10px;
	margin-right: -10px
} */
.row:before, .row:after {
	content: " ";
	display: table
}

.row:after {
	clear: both
}

.row-gutter-0>* {
	padding-left: 0;
	padding-right: 0
}
.col-3-1, .col-12-4 {
	width: 33.33333%
}
.col-7-5 {
	width: 71.42857%
}
.col-7-1 {
	width: 14.28571%
}
.col-7-2 {
	width: 28.57142%
}

.col-7-6 {
	width: 85.71428%;
	float: left;
}
.col-7-6 {
	width: 85.71428%
}
.col-4-1, .col-8-2, .col-12-3 {
	width: 25%
}
.col-1-1, .col-2-1, .col-2-2, .col-3-1, .col-3-2, .col-3-3, .col-4-1,
	.col-4-2, .col-4-3, .col-4-4, .col-5-1, .col-5-2, .col-5-3, .col-5-4,
	.col-5-5, .col-7-1, .col-7-2, .col-7-3, .col-7-4, .col-7-5, .col-7-6,
	.col-7-7, .col-8-1, .col-8-2, .col-8-3, .col-8-4, .col-8-5, .col-8-6,
	.col-8-7, .col-8-8, .col-12-1, .col-12-2, .col-12-3, .col-12-4,
	.col-12-5, .col-12-6, .col-12-7, .col-12-8, .col-12-9, .col-12-10,
	.col-12-11, .col-12-12 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	float: left
}

.list-inline {
	padding-left: 0;
	list-style: none;
	text-align:center;
	/* margin-left: -5px */
}

.list-inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}

.text-center {
	text-align: center
}

/* img {
	vertical-align: middle
} */

/* img {
	border: 0;
	width: auto\9;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic
} */
/*del fieldset and img border*/
fieldset, img {
	border: 0;
}