@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: #434343;
    line-height: 24px;
    font-family: "Microsoft YaHei", Verdana, Arial;
    overflow-x: hidden;
    max-width: 1920px;
}

ul,
li {
    list-style: none outside none;
}

a {
    text-decoration: none;
    border: none;
    color: #fff;
}

img {
    border: none;
    vertical-align: middle;
}

input {
    vertical-align: middle;
    outline: none;
}

table {
    border-collapse: collapse;
}

button {
    border: 0;
    outline: none;
    cursor: pointer;
}

i {
    font-style: normal;
}

.sc {
    color: #b30bf1 !important;
}

.sc2 {
    color: red;
}

.mb30 {
    margin-bottom: 30px;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.w1100 {
    width: 1100px;
    margin: 0 auto;
}

.w1000 {
    width: 1000px;
    margin: 0 auto;
}

.w900 {
    width: 900px;
    margin: 0 auto;
}

.mb150 {
    margin-bottom: 180px;
}

.mb160 {
    margin-bottom: 215px;
}

.red {
    color: #cf0b0b;
}

.c-orange {
    color: #ff4e00 !important;
    padding-left: 16px;
}

.color {
    color: #fedd8e;
}

/* common==========================================*/
html {
    max-width: 1920px;
    margin: 0 auto;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 130px;
    position: relative;
    z-index: 30;
}

header .top {
    background-color: #ccac69;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

header .top li {
    float: left;
}

header nav {
    background-color: #fff;
    height: 80px;
    width: 100%;
}

header nav ul {
    height: 100%;
}

header nav li {
    float: left;
    margin: 0 12px;
    padding: 28px 0px 0;
}

header nav li a {
    color: #ccac69;
    font-size: 20px;
    display: block;
}

header nav li.active,
header nav li:hover {
    padding-top: 16px;
    border-bottom: 8px solid #ff8c00;
    transition: 0.3s;
    padding-bottom: 28px;
}

header nav li.active a,
header nav li:hover a {
    color: #ff8c00;
}

header h1 {
    float: left;
}

header h1 img {
    margin-top: -44px;
}

header h1 .logo_mobile {
    display: none;
}

/* 登录 登出 免费开户 */
.login input {
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    margin: 0 15px;
    cursor: pointer;
    padding: 0 15px;
    background-color: #564017;
    font-size: 18px;
}

#regBtn {
    background-color: #FFE401;
    color: #5B450B;
}

.cont {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.items {
    display: none;
}

.items.active {
    display: block;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    border: none;
    color: #fff;
}

img {
    border: none;
    vertical-align: middle;
}

input,
button {
    vertical-align: middle;
    outline: none;
}

header,
footer,
article,
section,
em,
figure, figcaption {
    display: block;
    margin: 0;
    padding: 0;
}

strong {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/*活动内容*/

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header {
    position: relative;
    width: 100%;
    height: 844px;
    background: url(../images/banner.jpg) no-repeat center;
}

.main-body {
    position: relative;
    height: 2231px;
    color: #ffedc1;
    background: url(../images/main-bg1.jpg) no-repeat center top,
    url(../images/main-bg2.jpg) no-repeat center 870px,
    url(../images/main-bg3.jpg) no-repeat center 1745px;
}

.act-info {
    width: 56%;
    padding-top: 80px;
    color: #fedd8e;
}

.act-info h3 {
    font-size: 36px;
    margin: 70px 0 25px 0;
}

.part1 {
    padding-top: 65px;
}

.act1-cont {
    max-width: 1198px;
    height: 810px;
    margin: 0 auto;
    padding: 235px 160px 0;
    background: url(../images/act-bg11.png) no-repeat center top;
}

.act2-cont {
    max-width: 1198px;
    height: 859px;
    margin: 0 auto;
    padding: 270px 200px 0;
    background: url(../images/act-bg2.png) no-repeat center top;
}

.des {
    /*width:55%;*/
    margin: 0 auto;
    padding-left: 170px;
}

.game-cont {
    position: relative;
    width: 489px;
    height: 341px;
    margin: 12px auto 0;
    background: url(img/game-icon1.png) no-repeat center top;
}

.game-des {
    position: absolute;
    right: -135px;
    top: 12px;
}

.join-game {
    position: absolute;
    bottom: 13px;
    left: 2.5%;
    height: 60px;
    width: 95%;
    margin: 0 auto;
    background: none;
    -webkit-animation: pulse 1s infinite;
    -o-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.tips {
    padding: 0 135px 0 45px;
    margin-bottom: 25px;
    font-size: 20px;
}

.table-cont {
    height: 400px;
    padding-top: 8px;
}

table {
    width: 90%;
    margin: 0 auto;
}

table td {
    height: 43px;
    width: 50%;
    font-size: 18px;
    text-align: center;
}

table tr:nth-of-type(1) td {
    height: 47px;
    font-weight: bold;
}

.table1 tr:nth-of-type(1) td {
    height: 85px;
}

.table1 {
    width: 80%;
    margin-left: 20%;
    margin-top: 6%;
}

.table1 td {
    width: 33%;
    height: 76px;
}

/*活动规则*/
.rule-cont {
    padding-top: 10px;
    color: #333;
}

.rule-context {
    position: relative;
    padding: 0 80px;
}

.rule-des p {
    position: relative;
    padding-left: 25px;
    text-align: left;
    font-size: 18px;
    line-height: 2;
}

.rule-des span {
    position: absolute;
    top: 8px;
    left: 0;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
}

.act-footer {
    height: 115px;
    padding: 40px 10px 0;
    line-height: 2;
    text-align: center;
    color: #fef8ed;
    background: url(../images/footer-bg.jpg) no-repeat center top;
}

@media (max-width: 992px) {

    .flex {
        display: block;
    }

    .img-scale {
        width: 70%;
    }

    .cont {
        width: 90%;
        margin: 0 auto;
    }

    .header {
        height: auto;
        background-size: 100%;
    }

    table {
        width: 100%;
    }

    .table1 {
        width: 100%;
        margin: 0 auto;
    }

    .table1 td {
        height: 47px;
    }

    table tr td {
        font-size: 16px;
        border: 1px solid #ddd;
    }

    .des {
        padding-left: 0;
        width: 100%;
    }

    .main-body {
        height: auto;
        font-size: 16px;
        background: url(../images/m-bg.jpg) repeat-y center top;
    }

    .act1-cont {
        height: auto;
        padding: 10% 6%;
        background: none;
    }

    .act2-cont {
        height: auto;
        padding: 0;
        background: none;

    }

    .part2,
    .part1 {
        width: 95%;
        margin: 0 auto 40px;
        background: url(../images/m-gifts.png) no-repeat center top;
        background-size: 100% 100%;
    }

    .game-cont {
        height: 250px;
        width: 100%;
        background-size: 100% 100%;
    }

    .game-mobile-cont {
        text-align: center;
    }

    .game-des {
        position: static;
    }

    .part2 {
        padding: 70px 5% 40px;
    }

    .title {
        padding: 0;
    }

    .title > img {
        width: 100%;
    }

    .tips {
        padding: 0;
        font-size: 16px;
    }

    .m-part {
        padding: 40px 5% 0;
    }

    .m-part-title {
        margin: 20px 0;
        line-height: 1.5;
        font-size: 20px;
        font-weight: bold;
        color: #cf0b0b;
    }

    .act-info {
        width: 100%;
        font-size: 16px;
        padding: 0;
    }

    .act-info h3 {
        font-size: 22px;
        margin: 25px auto 10px;
    }

    .table-cont {
        height: auto;
        width: 100%;
        margin: 20px auto;
        padding-top: 10px;
        background-size: 100% 500px;
    }

    .join-game {
        bottom: -8px;
    }

    .rule-cont {
        height: auto;
        padding: 0;
        padding-bottom: 40px;
        margin: 0 auto;
        background: url(../images/m-rule-bg.jpg) repeat center top;
    }

    .rule-des {
        width: 100%;
    }

    .rule-context {
        padding: 40px 0 0;
    }
}
